<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Job Portal" content="Job Portal">
    <meta name="description" content="Job Portal">
    <meta name="keywords" content="Job Portal">
    <title>Job Portal {% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
    {% endblock %}
</head>

<body class="antialiased font-sans leading-normal tracking-normal bg-gray-100 text-gray-900">
    <div class="">
        {% include 'nav.html.twig' %}
        
        <div class="container mx-auto px-5 md:px-0">
            {% block body %}
            {% endblock %}
        </div>
    </div>
<script type="text/javascript">
// eslint-disable-next-line no-unused-vars
function toggleNavbar(collapseID) {
  document.getElementById(collapseID).classList.toggle("hidden");
  document.getElementById(collapseID).classList.toggle("flex");
}
</script>
    {% block javascripts %}
    {% endblock %}
</body>

</html>